<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registration For Clickstation</title>
</head>
<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" type="text/css" href="styles.two.css">
<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans&family=Oxygen&family=Roboto:wght@500&display=swap"
      rel="stylesheet">

<div>
      <!--TODO: Make an about page for about...-->

      <body>
            <h1 style="color: black"><em>Register to learn more... </em></h1>
            <nav>
                  <a href="about.html">
                        <h2 style="color: black;">What's it all about?</h2>

                  </a>

            </nav>

            <h2>
                  <a href="register.html"></a>
                  <!--Use GET, not POST -->
                  <form method="GET">
                        First Name: <input type="text" name="firstName"><br>
                        Last Name: <input type="text" name="lastName"><br>
                        Register:<br>
                        <input type="radio" name="NonProfit">Non-Profit<br>
                        <input type="radio" name="Register">Recruter<br>
                        <input type="radio" name="CEO">CEO<br>
                        <input type="radio" name="HiringManager">Hiring Manager<br>
                        Jobs: <br>
                        <select name="Jobs">
                              <option value="Website_Apps">Website Development</option>
                              <br>
                              <option value="Mobile_Apps">Mobile Development</option>
                              <br>
                              <option value="Marketing">Marketing Development</option>
                        </select><br>
                        <label for="email">Enter your email & Password:</label> <br>

                        <input type="email" id="email" name="email" required<br>
                        <input type="current-password" name="new-password" minlength="9">
                        <input type="submit" name="register" value="Register!"><br>


                        <input type="reset" name="reset">
                  </form>

</div>


</body>
</h2>

</body>
<footer>Created by Brad Harris 2021
</footer>

</html>